<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.graph410.comxa" version = "1.0">
   
   <name>Gillian Biernat</name>
   
   <description>
      Graph 410 Bee Hero
   </description>
   
   <author href = "http://graph410.comxa.com/gillian/" email = "gillian.biernat@gmail.com">
      Bee Hero
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "Bee_Hero/android/drawable-ldpi/ic_launcher_Bee_Hero.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "Bee_Hero/android/drawable-ldpi/ic_launcher_Bee_Hero.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
  <icon src = "Bee_Hero/android/drawable-ldpi/ic_launcher_Bee_Hero.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "Bee_Hero/android/drawable-ldpi/ic_launcher_Bee_Hero.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
  <icon src = "Bee_Hero/android/drawable-ldpi/ic_launcher_Bee_Hero.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
   
   <icon src = "Bee_Hero/ios/Icon-72.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "Bee_Hero/ios/Icon-Small-50.png" gap:platform = "ios" width = "50" height = "50" />
   <icon src = "Bee_Hero/ios/icon-72.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "Bee_Hero/ios/Icon-Small-50.png" gap:platform = "ios" width = "50" height = "50" />
   <icon src = "Bee_Hero/ios/icon-72-2x.png" gap:platform = "ios" width = "144" height = "144" />
   
</widget>