<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.gillianbiernat.graph410" version = "1.0">
   
   <name>Bee Hero\</name>
   
   <description>
      Graph 410 Bee Hero
   </description>
   
   <author href = "http://graph410.comxa.com/gillian/" email = "gillian.biernat@gmail.com">
      Bee Hero
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "Bee_Hero/android/ldpi/Bee_Hero-36.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "Bee_Hero/android/mdpi/Bee_Hero-40.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
  <icon src = "Bee_Hero/android/hdpi/Bee_Hero-57.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "Bee_Hero/android/xhdpi/Bee_Hero-72.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
  <icon src = "Bee_Hero/android/xxhdpi/Bee_Hero-114.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
   
   <icon src = "Bee_Hero/ios/Icon-72.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "Bee_Hero/ios/Icon-Small-50.png" gap:platform = "ios" width = "50" height = "50" />
   <icon src = "Bee_Hero/ios/icon-72.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "Bee_Hero/ios/Icon-Small-50@2x.png" gap:platform = "ios" width = "100" height = "100" />
   <icon src = "Bee_Hero/ios/Icon-72@2x.png" gap:platform = "ios" width = "144" height = "144" />
   
</widget>